body {
  background: #000;
  margin: 100px;
  padding: 0;
  position: relative;
}

.frame {
  height: 100%;
  position: absolute;
  width: 100%;
}

.separator {
  background-color: #000;
  height: 100%;
  position: absolute;
  z-index: 1;
}
