body {
  background: #000;
  margin: 100px;
  /* margin: 500px 100px 90px 100px; */
  padding: 0;
  position: relative;
}

.separator {
  background-color: #000;
  height: 100%;
  position: absolute;
  z-index: 1;
}
